In [ ]:
import pandas as pd

In [ ]:
df2020 = pd.read_csv("/content/Employee 2020.csv")
df2020

<ipython-input-4-a7e244c3d8e6>:1: DtypeWarning: Columns (0,2,3,4,5,7,8,11,14,15,16,17,19,21) have mixed types. Specify dtype option on import or set low_memory=False.
  df2020 = pd.read_csv("/content/Employee 2020.csv")

,Timestamp,Age,Gender,City,Position,Total years of experience,Unnamed: 6,Seniority level,main technology,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Number of vacation days,Employment status,Contract duration,Main language at work,Unnamed: 18,Company type,Unnamed: 20,Company business sector
0,11/24/2020,26.0,Male,Munich,Software Engineer,5,NaN,Senior,TypeScript,NaN,...,NaN,NaN,30,Full-time employee,Unlimited contract,English,NaN,Product,NaN,Tourism
1,11/24/2020,26.0,Male,Berlin,Backend Developer,7,NaN,Senior,Ruby,NaN,...,NaN,NaN,28,Full-time employee,Unlimited contract,English,NaN,Product,NaN,Scientific Activities
2,11/24/2020,29.0,Male,Berlin,Software Engineer,12,NaN,Lead,Javascript / Typescript,NaN,...,NaN,NaN,30,Self-employed (freelancer),Temporary contract,English,NaN,Product,NaN,NaN
3,11/24/2020,28.0,Male,Berlin,Frontend Developer,4,NaN,Junior,Javascript,NaN,...,NaN,NaN,24,Full-time employee,Unlimited contract,English,NaN,Startup,NaN,Transport
4,11/24/2020,37.0,Male,Berlin,Backend Developer,17,NaN,Senior,C# .NET,NaN,...,NaN,NaN,29,Full-time employee,Unlimited contract,English,NaN,Product,NaN,Automotive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048572,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048573,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Drop rows where ALL values are NaN
df2020_cleaned = df2020.dropna(how='all')

# Check shape before and after
print("Original DataFrame shape:", df2020.shape)
print("Cleaned DataFrame shape:", df2020_cleaned.shape)

Original DataFrame shape: (1048574, 22)
Cleaned DataFrame shape: (1253, 22)

In [ ]:
duplicate_count = df2020_cleaned.duplicated().sum()

print(f"Number of duplicate rows: {duplicate_count}")

Number of duplicate rows: 5

In [ ]:
df2020_cleaned = df2020_cleaned.drop_duplicates(keep='first')

# Reset index if needed
df2020_cleaned = df2020_cleaned.reset_index(drop=True)

print("Duplicates removed. Updated shape:", df2020_cleaned.shape)

Duplicates removed. Updated shape: (1248, 22)

In [ ]:
# check again if there is duplicate
duplicate_count = df2020_cleaned.duplicated().sum()

print(f"Number of duplicate rows: {duplicate_count}")

Number of duplicate rows: 0

In [ ]:
df2020_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1248 entries, 0 to 1247
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Timestamp                  1248 non-null   object
 1   Age                        1221 non-null   float64
 2   Gender                     1238 non-null   object
 3   City                       1248 non-null   object
 4   Position                   1242 non-null   object
 5   Total years of experience  1232 non-null   object
 6   Unnamed: 6                 0 non-null      float64
 7   Seniority level            1236 non-null   object
 8   main technology            1121 non-null   object
 9   Unnamed: 9                 0 non-null      float64
 10  Yearly salary              1248 non-null   float64
 11  Yearly bonus               825 non-null    object
 12  Unnamed: 12                0 non-null      float64
 13  Unnamed: 13                0 non-null      float64
 14  Number of vacation days    1181 non-null   object
 15  Employment status          1231 non-null   object
 16  Contract duration          1219 non-null   object
 17  Main language at work      1232 non-null   object
 18  Unnamed: 18                0 non-null      float64
 19  Company type               1223 non-null   object
 20  Unnamed: 20                0 non-null      float64
 21  Company business sector    846 non-null    object
dtypes: float64(8), object(14)
memory usage: 214.6+ KB

In [ ]:
#remove unecessary coulumn
df2020_cleaned = df2020_cleaned.loc[:, ~df2020_cleaned.columns.str.contains('^Unnamed')]

In [ ]:
# Step 1: Convert Timestamp to datetime
df2020_cleaned['Timestamp'] = pd.to_datetime(df2020_cleaned['Timestamp'], errors='coerce')

# Step 2: Extract date only and format as DD/MM/YYYY
df2020_cleaned['Timestamp'] = df2020_cleaned['Timestamp'].dt.strftime('%m/%d/%Y')

In [ ]:
# null values in the 'Age' column
null_count = df2020_cleaned['Age'].isnull().sum()
print(f"Number of null values in 'Age' column: {null_count}")

Number of null values in 'Age' column: 27

In [ ]:
# get average of ages and replace with it nulls
import math

average_age = df2020_cleaned['Age'].mean()
average_age

np.float64(32.52579852579853)

In [ ]:
# Always round up if .5 or more
rounded_age = math.ceil(average_age) if (average_age - math.floor(average_age)) >= 0.5 else math.floor(average_age)

print(f"Rounded Average Age: {rounded_age}")

Rounded Average Age: 33

In [ ]:
# Fill nulls in 'Age' column with the average age
df2020_cleaned['Age'] = df2020_cleaned['Age'].fillna(rounded_age)

# Confirm there are no more nulls
null_count = df2020_cleaned['Age'].isnull().sum()
print(f"Number of nulls in 'Age' after filling: {null_count}")

Number of nulls in 'Age' after filling: 0

In [ ]:
# replace null with others
df2020_cleaned['Gender'] = df2020_cleaned['Gender'].fillna('Other')

In [ ]:
# Replace nulls in 'Position ' column with 'Other'
df2020_cleaned['Position '] = df2020_cleaned['Position '].fillna('Other')

# Confirm no more nulls
null_count = df2020_cleaned['Position '].isnull().sum()
print(f"Nulls in 'Position ' after replacement: {null_count}")

Nulls in 'Position ' after replacement: 0

In [ ]:
# Calculate average salary
avg_salary = df2020_cleaned['Yearly salary '].mean()

# Fill nulls in 'Yearly salary' column
df2020_cleaned['Yearly salary '] = df2020_cleaned['Yearly salary '].fillna(avg_salary)

# Round if needed
df2020_cleaned['Yearly salary '] = round(df2020_cleaned['Yearly salary '])

# Confirm no more nulls
print("Nulls in Yearly salary after filling:", df2020_cleaned['Yearly salary '].isnull().sum())

Nulls in Yearly salary after filling: 0

In [ ]:
# Step 1: Convert 'Total years of experience' to numeric
df2020_cleaned['Total years of experience'] = pd.to_numeric(df2020_cleaned['Total years of experience'], errors='coerce')

# Step 2: Calculate average (mean) of non-null values
avg_experience = df2020_cleaned['Total years of experience'].mean()

# Step 3: Round down and convert to integer
rounded_avg_exp = math.floor(avg_experience)

# Step 4: Fill nulls with rounded-down average
df2020_cleaned['Total years of experience'] = df2020_cleaned['Total years of experience'].fillna(rounded_avg_exp)

# Optional: Convert entire column to integer type
df2020_cleaned['Total years of experience'] = df2020_cleaned['Total years of experience'].astype(int)

# Step 5: Print result
print(f"Average years of experience: {avg_experience}")
print(f"Rounded down value used: {rounded_avg_exp}")
print("Nulls after filling:", df2020_cleaned['Total years of experience'].isnull().sum())

Average years of experience: 9.089061224489797
Rounded down value used: 9
Nulls after filling: 0

In [ ]:
# Replace null values in 'Seniority level' column with 'No data'
df2020_cleaned['Seniority level'] = df2020_cleaned['Seniority level'].fillna('No data')

In [ ]:
df2020_cleaned['main technology'] = df2020_cleaned['main technology'].fillna('No data')

In [ ]:
df2020_cleaned['Yearly bonus '] = pd.to_numeric(df2020_cleaned['Yearly bonus '], errors='coerce')

# Step 2: Calculate average (mean) of non-null values
avg_bonus = df2020_cleaned['Yearly bonus '].mean()

# Step 3: Fill nulls with the average and round to nearest integer
df2020_cleaned['Yearly bonus '] = df2020_cleaned['Yearly bonus '].fillna(round(avg_bonus))

# Optional: Print results
print(f"Average Yearly Bonus: {round(avg_bonus)}")
print("Nulls after filling:", df2020_cleaned['Yearly bonus '].isnull().sum())

Average Yearly Bonus: 6126618
Nulls after filling: 0

In [ ]:
df2020_cleaned['Number of vacation days'] = pd.to_numeric(df2020_cleaned['Number of vacation days'], errors='coerce')

# Step 2: Calculate average (mean) of non-null values
avg_vacation_days = df2020_cleaned['Number of vacation days'].mean()

# Step 3: Fill nulls with the average and round to nearest integer
df2020_cleaned['Number of vacation days'] = df2020_cleaned['Number of vacation days'].fillna(round(avg_vacation_days))

# Optional: Convert to integer type
df2020_cleaned['Number of vacation days'] = df2020_cleaned['Number of vacation days'].astype(int)

# Confirm no more nulls
null_count = df2020_cleaned['Number of vacation days'].isnull().sum()
print(f"Nulls in 'Number of vacation days' after filling: {null_count}")
print(f"Average number of vacation days: {round(avg_vacation_days)}")

Nulls in 'Number of vacation days' after filling: 0
Average number of vacation days: 28

In [ ]:
df2020_cleaned.columns = df2020_cleaned.columns.str.strip()
df2020_cleaned['Employment status'] = df2020_cleaned['Employment status'].fillna('No data')

In [ ]:
df2020_cleaned.columns = df2020_cleaned.columns.str.strip()
df2020_cleaned['Company type'] = df2020_cleaned['Company type'].fillna('No data')

In [ ]:
df2020_cleaned.columns = df2020_cleaned.columns.str.strip()
df2020_cleaned['Main language at work'] = df2020_cleaned['Main language at work'].fillna('No data')

In [ ]:
df2020_cleaned.columns = df2020_cleaned.columns.str.strip()
df2020_cleaned['Contract duration'] = df2020_cleaned['Contract duration'].fillna('No data')

In [ ]:
df2020_cleaned.columns = df2020_cleaned.columns.str.strip()
df2020_cleaned['Contract duration'] = df2020_cleaned['Contract duration'].fillna('No data')

In [ ]:
# Replace null values in 'Company business sector' column with 'Сommerce'
df2020_cleaned['Company business sector'] = df2020_cleaned['Company business sector'].fillna('Сommerce')

# Confirm there are no more nulls
null_count = df2020_cleaned['Company business sector'].isnull().sum()
print(f"Nulls in 'Company business sector' after replacement: {null_count}")

Nulls in 'Company business sector' after replacement: 0

In [ ]:
df2020_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1248 entries, 0 to 1247
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Timestamp                  1248 non-null   object
 1   Age                        1248 non-null   float64
 2   Gender                     1248 non-null   object
 3   City                       1248 non-null   object
 4   Position                   1248 non-null   object
 5   Total years of experience  1248 non-null   int64
 6   Seniority level            1248 non-null   object
 7   main technology            1248 non-null   object
 8   Yearly salary              1248 non-null   float64
 9   Yearly bonus               1248 non-null   float64
 10  Number of vacation days    1248 non-null   int64
 11  Employment status          1248 non-null   object
 12  Contract duration          1248 non-null   object
 13  Main language at work      1248 non-null   object
 14  Company type               1248 non-null   object
 15  Company business sector    1248 non-null   object
dtypes: float64(3), int64(2), object(11)
memory usage: 156.1+ KB

In [ ]:
# Save the cleaned DataFrame to a CSV file
df2020_cleaned.to_csv('Employee_2020_Cleaned.csv', index=False)

In [ ]:
df2018 = pd.read_csv("/content/Employee 2018.csv")
df2018

,Timestamp,Age,Gender,City,Position,Years of experience,Seniority level,main technology,Yearly salary,Yearly bonus,Number of vacation days,Main language at work,Unnamed: 12,Company type,Contract duration,Employment status,Unnamed: 16,Company business sector
0,12/14/2018,43.0,M,München,QA Ingenieur,11.0,Senior,PHP,77000.0,1000.0,29.0,Deutsch,NaN,Product,unlimited,Full-time employee,NaN,Tourism
1,12/14/2018,33.0,F,München,Senior PHP Magento developer,8.0,Senior,Python,65000.0,NaN,22.0,Deutsch,NaN,Product,unlimited,Full-time employee,NaN,Scientific Activities
2,12/14/2018,32.0,M,München,Software Engineer,10.0,Senior,Kotlin,88000.0,NaN,27.0,Deutsch,NaN,Product,unlimited,Self-employed (freelancer),NaN,NaN
3,12/14/2018,25.0,M,München,Senior Frontend Developer,6.0,Senior,PHP,78000.0,NaN,24.0,English,NaN,Product,unlimited,Full-time employee,NaN,Transport
4,12/14/2018,39.0,M,München,UX Designer,10.0,Senior,C/C++,69000.0,NaN,30.0,English,NaN,Ecom retailer,unlimited,Full-time employee,NaN,Automotive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
760,6/3/2020,40.0,M,Köln,Java Developer junior,1.0,Junior,.NET,44000.0,NaN,30.0,Deutsch,NaN,Product,unlimited,Full-time employee,NaN,Transport
761,7/28/2020,NaN,M,Köln,E.g. C# Developer,1.0,Junior,Python,45000.0,5500.0,30.0,Deutsch,NaN,Product,unlimited,Full-time employee,NaN,Transport
762,7/28/2020,NaN,M,Köln,E.g. C# Developer,1.0,Junior,Not Relevant,45000.0,10000.0,26.0,Deutsch,NaN,Product,unlimited,Full-time employee,NaN,Tourism
763,8/26/2020,NaN,NaN,NaN,NaN,NaN,NaN,R,NaN,0.0,25.0,NaN,NaN,NaN,unlimited,Full-time employee,NaN,Сommerce
764,9/21/2020,31.0,F,München,Pm,10.0,Senior,Not Relevant,110000.0,NaN,24.0,English,NaN,Product,unlimited,Full-time employee,NaN,Transport

In [ ]:
df2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 765 entries, 0 to 764
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Timestamp                765 non-null    object
 1   Age                      672 non-null    float64
 2   Gender                   751 non-null    object
 3   City                     736 non-null    object
 4   Position                 737 non-null    object
 5   Years of experience      732 non-null    float64
 6   Seniority level          743 non-null    object
 7   main technology          753 non-null    object
 8   Yearly salary            750 non-null    float64
 9   Yearly bonus             392 non-null    float64
 10  Number of vacation days  720 non-null    float64
 11  Main language at work    750 non-null    object
 12  Unnamed: 12              0 non-null      float64
 13  Company type             730 non-null    object
 14  Contract duration        737 non-null    object
 15  Employment status        758 non-null    object
 16  Unnamed: 16              0 non-null      float64
 17  Company business sector  649 non-null    object
dtypes: float64(7), object(11)
memory usage: 107.7+ KB

In [ ]:
# Drop rows where ALL values are NaN
df2018_cleaned = df2018.dropna(how='all')

In [ ]:
duplicate_count = df2018_cleaned.duplicated().sum()

In [ ]:
df2018_cleaned = df2018_cleaned.loc[:, ~df2018_cleaned.columns.str.contains('^Unnamed')]

In [ ]:
# Step 1: Convert Timestamp to datetime
df2018_cleaned['Timestamp'] = pd.to_datetime(df2018_cleaned['Timestamp'], errors='coerce')

# Step 2: Extract date only and format as DD/MM/YYYY
df2018_cleaned['Timestamp'] = df2018_cleaned['Timestamp'].dt.strftime('%m/%d/%Y')

In [ ]:
# get average of ages and replace with it nulls


average_age2018 = df2018_cleaned['Age'].mean()

average_age

np.float64(32.52579852579853)

In [ ]:
# Always round up if .5 or more
rounded_age = math.ceil(average_age2018) if (average_age2018 - math.floor(average_age2018)) >= 0.5 else math.floor(average_age2018)

print(f"Rounded Average Age: {rounded_age}")

Rounded Average Age: 32

In [ ]:
# Fill nulls in 'Age' column with the average age
df2018_cleaned['Age'] = df2018_cleaned['Age'].fillna(rounded_age)

# Confirm there are no more nulls
null_count = df2018_cleaned['Age'].isnull().sum()
print(f"Number of nulls in 'Age' after filling: {null_count}")

Number of nulls in 'Age' after filling: 0

In [ ]:
df2018_cleaned['Gender'] = df2018_cleaned['Gender'].fillna('Other')

In [ ]:
df2018_cleaned['Position'] = df2018_cleaned['Position'].fillna('Other')

In [ ]:
df2018_cleaned['Seniority level'] = df2018_cleaned['Seniority level'].fillna('No data')

In [ ]:
df2018_cleaned['main technology'] = df2018_cleaned['main technology'].fillna('No data')

In [ ]:
df2018_cleaned['City'] = df2018_cleaned['City'].fillna('No data')

In [ ]:
# Replace 'MÃ¼nchen' with 'München' in the 'City' column
df2018_cleaned['City'] = df2018_cleaned['City'].replace('MÃ¼nchen', 'München')

# Optional: Check unique values to confirm replacement
print(df2020['City'].unique())

['Munich' 'Berlin' 'Hamburg' 'Wolfsburg' 'Stuttgart' 'Schleswig-Holstein'
 'London' 'Konstanz area' 'Frankfurt' 'Cologne' 'Kempten' 'Münster'
 'Erlangen' 'Vienna' 'Moldova' 'Rosenheim' 'Mannheim ' 'Boeblingen'
 'Düsseldorf' 'Ingolstadt' 'Nürnberg' 'Ansbach' 'Leipzig' 'Mannheim'
 'Tuttlingen' 'Bonn' 'Moscow' 'Koblenz' 'Warsaw' 'Heidelberg' 'Karlsruhe'
 'Köln' 'Aachen' 'Karlsruhe ' 'Samara' 'Riga, Latvia' 'Dusseldorf'
 'Zurich' 'Helsinki' 'Würzburg' 'Kiev' 'Den Haag' 'Amsterdam' 'Cracovia'
 'Tallinn' 'Prague' 'Utrecht' 'Stockholm' 'Braunschweig ' 'Dresden' 'Kyiv'
 'Stuttgart ' 'Malta' 'Lübeck' 'Nuremberg ' 'Bodensee' 'Milan' 'Salzburg'
 'Rome' 'Wroclaw' 'Cupertino' 'Paris' 'Dublin ' 'Paderborn' 'Konstanz'
 'Ulm' 'Düsseldorf ' 'Barcelona' 'Bölingen' 'Tampere (Finland)' 'Hannover'
 'Bucharest' 'Siegen' 'Minsk' 'Nuremberg' 'Marseille' 'Friedrichshafen'
 'Walldorf' 'Eindhoven' 'France' 'Regensburg' 'Warsaw, Poland' 'Heilbronn'
 'Dortmund' 'Jena' 'City in Russia' 'Cracow' 'Brunswick' 'Dublin' 'Madrid'
 'Lisbon' 'Sofia' 'Luttich' 'Milano' 'Bielefeld' 'Basel' 'NJ, USA'
 'Istanbul' 'warsaw' 'Hildesheim' 'Heidelberg ' 'Murnau am Staffelsee '
 'Zürich' 'Innsbruck' 'Brussels ' 'Hildesheim ' 'Prefer not to say'
 'Dusseldurf' 'Fr' 'Darmstadt' 'Duesseldorf' 'Cambridge' 'Brussels'
 'Copenhagen' 'Sevilla' 'Krakow' 'Ingolstadt ' 'Saint-Petersburg'
 'Saarbrücken' nan]

In [ ]:
# Calculate average salary
avg_salary = df2018_cleaned['Yearly salary '].mean()

# Fill nulls in 'Yearly salary' column
df2018_cleaned['Yearly salary '] = df2018_cleaned['Yearly salary '].fillna(avg_salary)

# Round if needed
df2018_cleaned['Yearly salary '] = round(df2018_cleaned['Yearly salary '])

# Confirm no more nulls
print("Nulls in Yearly salary after filling:", df2018_cleaned['Yearly salary '].isnull().sum())

Nulls in Yearly salary after filling: 0

In [ ]:
# prompt: i want to change name of column that is called Years of experience with Total years of experience

df2018_cleaned = df2018_cleaned.rename(columns={'Years of experience': 'Total years of experience'})

In [ ]:
# Step 1: Convert 'Total years of experience' to numeric
df2018_cleaned['Total years of experience'] = pd.to_numeric(df2018_cleaned['Total years of experience'], errors='coerce')

# Step 2: Calculate average (mean) of non-null values
avg_experience = df2018_cleaned['Total years of experience'].mean()

# Step 3: Round down and convert to integer
rounded_avg_exp = math.floor(avg_experience)

# Step 4: Fill nulls with rounded-down average
df2018_cleaned['Total years of experience'] = df2018_cleaned['Total years of experience'].fillna(rounded_avg_exp)

# Optional: Convert entire column to integer type
df2018_cleaned['Total years of experience'] = df2018_cleaned['Total years of experience'].astype(int)

In [ ]:
df2018_cleaned['Seniority level'] = df2018_cleaned['Seniority level'].fillna('No data')

In [ ]:
df2018_cleaned['main technology'] = df2018_cleaned['main technology'].fillna('No data')

In [ ]:
# Step 1: Convert 'Yearly bonus' to numeric, coerce errors to NaN
df2018_cleaned['Yearly bonus'] = pd.to_numeric(df2018_cleaned['Yearly bonus'], errors='coerce')

# Step 2: Calculate average (mean) of non-null values
avg_bonus = df2018_cleaned['Yearly bonus'].mean()

# Step 3: Fill nulls with the average and round to nearest integer
df2018_cleaned['Yearly bonus'] = df2018_cleaned['Yearly bonus'].fillna(round(avg_bonus))

In [ ]:
# Step 1: Convert column to numeric, coerce errors to NaN
df2018_cleaned['Number of vacation days'] = pd.to_numeric(df2018_cleaned['Number of vacation days'], errors='coerce')

# Step 2: Calculate average (mean) of non-null values
avg_vacation_days = df2018_cleaned['Number of vacation days'].mean()

# Step 3: Fill nulls with the average and round to nearest integer
df2018_cleaned['Number of vacation days'] = df2018_cleaned['Number of vacation days'].fillna(round(avg_vacation_days))

# Optional: Convert to integer type
df2018_cleaned['Number of vacation days'] = df2018_cleaned['Number of vacation days'].astype(int)

In [ ]:
df2018_cleaned.columns = df2018_cleaned.columns.str.strip()
df2018_cleaned['Employment status'] = df2018_cleaned['Employment status'].fillna('No data')

In [ ]:
df2018_cleaned.columns = df2018_cleaned.columns.str.strip()
df2018_cleaned['Contract duration'] = df2018_cleaned['Contract duration'].fillna('No data')

In [ ]:
df2018_cleaned.columns = df2018_cleaned.columns.str.strip()
df2018_cleaned['Main language at work'] = df2018_cleaned['Main language at work'].fillna('No data')

In [ ]:
df2018_cleaned.columns = df2018_cleaned.columns.str.strip()
df2018_cleaned['Company type'] = df2018_cleaned['Company type'].fillna('No data')

In [ ]:
df2018_cleaned['Company business sector'] = df2018_cleaned['Company business sector'].fillna('Сommerce')

In [ ]:
df2018_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 765 entries, 0 to 764
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Timestamp                  765 non-null    object
 1   Age                        765 non-null    float64
 2   Gender                     765 non-null    object
 3   City                       765 non-null    object
 4   Position                   765 non-null    object
 5   Total years of experience  765 non-null    int64
 6   Seniority level            765 non-null    object
 7   main technology            765 non-null    object
 8   Yearly salary              765 non-null    float64
 9   Yearly bonus               765 non-null    float64
 10  Number of vacation days    765 non-null    int64
 11  Main language at work      765 non-null    object
 12  Company type               765 non-null    object
 13  Contract duration          765 non-null    object
 14  Employment status          765 non-null    object
 15  Company business sector    765 non-null    object
dtypes: float64(3), int64(2), object(11)
memory usage: 95.8+ KB

In [ ]:
df2018_cleaned.to_csv('Employee_2018_Cleaned.csv', index=False)

In [ ]:
file1 = '/content/Employee_2018_Cleaned.csv'   # Replace with your first file path
file2 = '/content/Employee_2020_Cleaned.csv'   # Replace with your second file path
output_file = 'Combined_2018_2020.csv'

# Step 2: Read both CSV files
df1 = pd.read_csv(file1, on_bad_lines='skip', encoding='latin1')
df2 = pd.read_csv(file2, on_bad_lines='skip', encoding='latin1')

# Step 3: Concatenate (append) the two DataFrames
combined_df = pd.concat([df1, df2], ignore_index=True)

# Step 4: Save the merged DataFrame to a new CSV file
combined_df.to_csv(output_file, index=False)

print("✅ Files merged successfully!")
print(f"Saved as: {output_file}")

✅ Files merged successfully!
Saved as: Combined_2018_2020.csv